# Wails build output
build/
frontend/dist/wailsjs/

# БД и кэш
*.db
*.db-wal
*.db-shm

# Go
*.exe
*.exe~
*.test
*.out
vendor/

# Node
node_modules/
package-lock.json
yarn.lock

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
desktop.ini

# Логи
*.log